#Q .1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

'hello' , * , -87.8 , - , / , 6 

#Answer ------

Value =  'hello', -87.8, 6

Expression =  * , - , /

#Q .2. What is the difference between string and variable?

#Ans --- 
String is data type in python .String is written in double quote(i.e "").

Variable is used to store some value .When we assign some value in variable ,than it reserved memory location for that value.

#Q .3. Describe three different data types.

#Answer ---
There are three different data types :
1. String() or str().
2. Floating () or float().
3. Boolean() or bool().

1.String() --String data type are written in double quote ("").for example "Hello" .it is immutable .String can be written in three different form ,i.e Single quote('') ,Double qoute("") ,Tripple qoute (''' ''').
Single and Double qoute is used for single line or single words and tripple qoute is used for multiline santance .

2.Floating --- Float data type contain only decimal value .for example 
(2.0) .It is used to returns a floating point number from a number or a string. 

3.Boolean---- Boolean type is one of Python's built-in data types. It's used to represent the truth value of an expression.

Q.4. What is an expression made up of? What do all expressions do?

#Answer--
An expression is made up of values and operators. All expressions take some kind of input and produce some kind of output.

#Q.5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

#Answer ---
The difference between an expression and a statement is that, An expression is a line of code that can be evaluated to a value, and does not cause any side effects. 
While A statement is a line of code that performs some action and may or may not return a value.For example ,statements include assignment statements, like spam =10, and print statements, like print('spam').

#Q .6. After running the following code, what does the variable bacon contain?
bacon = 22

bacon + 1

#Ans =A variable bacon contain 22 as value. here bacon+1 does not assign in it .there should be a variable to assign like,bacon=bacon+1.

In [5]:
# Answer ..
bacon = 22
bacon+1
print(bacon)

22

#Q .7. What should the values of the following two terms be?
'spam' + 'spamspam'

'spam' * 3

#Answer -- Both expression evaluate as string 'spamspamspam'.

In [10]:
'spam'+'spamspam'

'spamspamspam'

In [11]:
'spam'*3

'spamspamspam'

#Q .8. Why is eggs a valid variable name while 100 is invalid?

Ans-- Here egg is valid variable while 100 is invalid variable because a variable name must start with alphabet(A to Z) or underscore(_) .BAriable name cannot start with a number.



---

#Q .9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans --There are three function ,int() ,float() ,and str() that can be used to get integer, floating-pointing number ,or string version of a value.



---

#Q .10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Ans -- Causes of error is that ,here integer (i.e 99) try to concatenate with both string which is not possible.Because string concatenate only with string .So here we can fix it by converting integer to string (i.e 99 to '99').

In [14]:
'i have eaten '+' 99 '+'burritos'

'i have eaten  99 burritos'



---