#Q .1. What exactly is []?

#Answer --
It denotes an empty list .List value that contain no items.



---

#Q .2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [ ]:
# Answer  ...

Spam=[2,4,6,8,10]
Spam[2]="Hello" #(index start with 0 ,so if we assign "hello" as third value than we have to pass 2 as index.)
Spam

[2, 4, 6, 'Hello', 10]



---

#Note :Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.



---

# Q .3. What is the value of spam[int(int('3' * 2) / 11)]?

# Answer --- 

'd'  

(when we multiply 3 with 2 than we get 33 as output due to '3' work as string ,And by dividing 33 by 11 we get 3 as output .And d is the at 3rd index .So we get value 'd'.

In [ ]:
spam=['a','b','c','d']
spam[int(int('3'*2)/11)]

'd'



---

#Q .4. What is the value of spam[-1]?

#Answer --
'd' (because negative indexing start from end )

In [ ]:
spam=['a','b','c','d']
spam[-1]

'd'



---

#Q .5. What is the value of spam[:2]?

#Answer ---
['a', 'b']

In [ ]:
spam=['a','b','c','d']
spam[:2]

['a', 'b']



---

#Note : Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

#Q .6. What is the value of bacon.index('cat')?

bacon =[3.14,'cat',11,'cat',True]

#Answer ---
bacon.index('cat') = 1 (there is duplicate value also bt index search for first occurance and retune value )

In [ ]:
bacon =[3.14,'cat',11,'cat',True]
bacon.index('cat')

1



---

#Q .7. How does bacon.append(99) change the look of the list value in bacon?

#Answer ----
The value (99) is added at the last position in bacon list

In [ ]:
bacon =[3.14,'cat',11,'cat',True]
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]



---

#Q .8. How does bacon.remove('cat') change the look of the list in bacon?

# Answer ---
It remove the first ('cat') value from the list in bacon

In [ ]:
bacon =[3.14,'cat',11,'cat',True]
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True]



---

#Q .9. What are the list concatenation and list replication operators?

#Answer ----
 For list concatenation we use + operator ,And for list replication we use * operator .



---

#Q .10. What is difference between the list methods append() and insert()?

# Answer ---
Append method --In a list append will only add values at end position .

Insert method --While Insert will add values anywhere in a list



---

#Q .11. What are the two methods for removing items from a list?

# Answer --

These are two method for removing items from the list ,

1 --remove()

2 --del()



---

#Q .12. Describe how list values and string values are identical.

# Answer --
Lists values and strings values can be passed to len(),And have indexes and slices, be used in for loops, be concatenated or replicated,It also used, in and not in operators.



---

#Q .13. What's the difference between tuples and lists?

# Answer ---
The major difference between list and tuples is that ,list is mutable while tuples is imutable .

List can add and change values but tuples can not do same



---

#Q .14. How do you type a tuple value that only contains the integer 42?

# Answer ----

tup =(42 ,) we have to put comma ,otherwise its show int data type.

In [ ]:
tup=(42,)
print(type(tup))
tup

<class 'tuple'>

(42,)



---

#Q .15. How do you get a list value's tuple form? How do you get a tuple value's list form?

# Answer ---

For this we have to use type coversion i.e

In [ ]:
# List to Tuple 

lst =[1,2,3,4]
tup=tuple(lst)
print(f"Before converting {lst ,type(lst)} ,After coonversion {tup ,type(tup)}")

Before converting ([1, 2, 3, 4], <class 'list'>) ,After coonversion ((1, 2, 3, 4), <class 'tuple'>)

In [ ]:
# Tuple to List

t=(1,2,3,4,5)
l=list(t)
print(f"Before converting {t ,type(t)} ,After coonversion {l ,type(l)}")

Before converting ((1, 2, 3, 4, 5), <class 'tuple'>) ,After coonversion ([1, 2, 3, 4, 5], <class 'list'>)



---

#Q .16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

# Answer ---

Variables contains references to list values .



---

#Q .17. How do you distinguish between copy.copy() and copy.deepcopy()?

# Answer ----

copy.copy() create reference to original object. If you change copied object , you change the original object. copy.deepcopy() creates new object and does real copying of original object to new one .