# Q .1.	Write a Python program to convert kilometers to miles?

In [1]:
# Answer ...
k=int(input("Enter kilometer :"))

m= k*0.621371 # 1 km =0.621371

print("Given kilometer in miles : ", m ," miles")

Enter kilometer :12
Given kilometer in miles :  7.4564520000000005  miles

# Q .2.	Write a Python program to convert Celsius to Fahrenheit?

In [2]:
# Answer ....

c=int(input("Enter the value in celsius :"))

f=c*(9/5)+32

print("Value in Fahrenheit : ",f)

Enter the value in celsius :98
Value in Fahrenheit :  208.4

# Q .3.	Write a Python program to display calendar?

In [7]:
# Answer ...
import calendar
y=int(input("Enter year : "))
m=int(input("Enter month : "))
print(calendar.month(y,m))

Enter year : 2022
Enter month : 11
   November 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

# Q .4.	Write a Python program to solve quadratic equation?

In [8]:
# Answer ....

import cmath

x = 1
y = 5
z = 6

w = (y**2) - (4*x*z)   # calculate discriminant

# find two solutions
sol1 = (-y-cmath.sqrt(w))/(2*x)  

sol2 = (-y+cmath.sqrt(w))/(2*x)

print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-3+0j) and (-2+0j)

# Q .5.	Write a Python program to swap two variables without temp variable?

In [10]:
# Answer ...
a = 88
b =76
print("Value of 'a' before swaping : ",a)
print("Value of 'b' before swaping : ",b)

a , b = b , a
print(" ")

print("Value of 'a' after swaping : ",a)
print("Value of 'b' after swaping : ",b)

Value of 'a' before swaping :  88
Value of 'b' before swaping :  76

Value of 'a' after swaping :  76
Value of 'b' after swaping :  88