# Q .1.	Write a Python Program to Find the Factorial of a Number?

In [ ]:
# Answer .....
num=int(input("Enter the number : "))
factorial = 1
for i in range(1,num+1):
  factorial =factorial*i
print(factorial)

Enter the number : 4
24

# Q .2.	Write a Python Program to Display the multiplication Table?

In [ ]:
# Answer ......
tab =int(input("Enter the number : "))
for i in range(1,11):
  print(tab, 'x' , i ,"= " ,tab*i)

Enter the number : 12
12 x 1 =  12
12 x 2 =  24
12 x 3 =  36
12 x 4 =  48
12 x 5 =  60
12 x 6 =  72
12 x 7 =  84
12 x 8 =  96
12 x 9 =  108
12 x 10 =  120

# Q .3.	Write a Python Program to Print the Fibonacci sequence?

In [ ]:
# Answer ....
num= int(input("Enter the number : "))
a = 0
b = 1
sum = 0
count = 1
print("Fibonacci series is: ", end = " ")
while(count <= num):
  count += 1
  print(a, end=" ")
  a = b
  b = sum
  sum = a + b

Enter the number : 10
Fibonacci series is:  0 1 0 1 1 2 3 5 8 13

# Q .4.	Write a Python Program to Check Armstrong Number?

In [ ]:
# Answer ....
num = int(input("Enter a number: "))

sum = 0

temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 3
3 is not an Armstrong number

# Q .5.	Write a Python Program to Find Armstrong Number in an Interval?

In [4]:
# Answer....

lower =int(input("Enter the first number : "))
upper =int(input("Enter the second number : "))

for num in range(lower, upper + 1):
   order = len(str(num))
    
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:

    print(num)

Enter the first number : 100
Enter the second number : 2000
153
370
371
407
1634

# Q .6.	Write a Python Program to Find the Sum of Natural Numbers?

In [9]:
# Answer ...

num =int(input("Enter the number : "))

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

Enter the number : 10
The sum is 55